/*------------------------Main-Page---------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap');

:root {
    --main-color: #960707;
    --blackcolor: #1B1B1B;
    --shadow: #dee1e8;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.menu a {
    font-size: 25px;

}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

header {
    padding: 2rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-image: linear-gradient(130deg, white 22%, var(--main-color) -50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1000;

}

/*------------------------Navigation-Bar--------------------------*/
#goHome a:hover {
    transition: none;
    box-shadow: none;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 40px;
}

header .logo h1 {
    margin-left: 20px;
    font-family: cursive;
    color: rgb(20, 18, 18);
}

nav a {
    font-size: 1.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

a {
    box-shadow: inset 0 0 0 0;
    color: #960707;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    text-decoration: none;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
    color: var(--backcolor);
    text-decoration: none;
    box-shadow: inset 300px 0 0 0 #e16477;
}

#navbar {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.main-container {
    flex: 1;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

/* -------------------Footer---------------- */
.main-footer {
    background: #ececec;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0;
    padding: 1rem;
    width: 100%;
    margin-top:auto;
}

.main-inner-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.logo-text {
    font-size: 2.5rem;
}

.footer-second-part {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

.footer-second-part img {
    width: 40px;
    margin-left: 50px;
}


.fa {
    text-align: center;
    text-decoration: none;
    color: rgb(72, 69, 69);
    margin-right: 25px;
    font-size: 24px !important;

}

.sources {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sources a {
    color: rgb(99, 89, 89);
    text-decoration: none;
    margin-right: 20px;
    font-size: 32px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.sources a:hover {
    color: gray;
}

/* ------------------Cards--------------------- */
.main {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
    flex: 1 1 calc(33.3333% - 2rem); /* Adjust to have 3 cards per row on larger screens */
    box-sizing: border-box;
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}


.card_image {
    flex: 0 0 auto;
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #41282c 40%, #960707 100%);
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    padding: 6px 0;
}

.card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
    flex: 1;
}

.card_btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
    border: 3px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    text-align: center;
    flex: 0 0 auto;
}

.card-title {
    text-transform: uppercase;
}

.card_btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.card_btn a {
    color: white;
}

.made_by {
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

:root {
    --background-color: black;
    --text-color: hsl(0, 0%, 100%);
}

body {
    margin: 0;
}

.wrapper {
    display: grid;
    place-content: center;
    background-color: var(--background-color);
    min-height: 100vh;
    font-family: "Oswald", sans-serif;
    font-size: clamp(1.5rem, 1rem + 18vw, 15rem);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color);
}

.wrapper > div {
    grid-area: 1/1/-1/-1;
}

.top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}

.bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
    background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
}

.intro {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(45deg, #8b1a47, #96250f);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 15px;

}

/*-------------------------------------Responsive-Part--------------------------------------------*/
@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

@media (max-width: 811px) {
    header {
    background-image: linear-gradient(130deg, white 67%, var(--main-color) -50%);
    display: flex;
    justify-content: space-evenly;    }

    .card_text {
        font-size: 18px;
    }

    html {
        font-size: 50%;
    }

    #navbar {
        display: initial;
    }

    #menu-bars {
        display: initial;
    }

    .navbar {
        position: absolute;
        top: -100%;
        right: 0;
        left: 0;
    }

    .navbar a {
        display: block;
        font-size: 1.5rem;
        margin: 1rem;
        padding: 1rem;
    }

    .header {
        padding: 2rem;
    }

    .background-text h2 {
        width: 100%;
        text-align: center;
    }

    nav {
        position: absolute;
        top: 100%;
        background: var(--main-color);
        width: 100%;
        left: 0;
        clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);

    }

    nav.active {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);

    }

    nav a {
        display: block;
        margin: 1rem;
        padding: 2rem 2rem;
        border: 3px solid white;
        font-size: 1.5rem;
    }

    .navbar-icons {
        display: flex;
        align-items: center;

    }

    .navbar-icons div {
        margin: 1rem;
    }

    .footer-second-part img {
        width: 40px;
        margin-left: 50px;
    }

    .card_title {
        font-size: 2.1rem;
    }

    .cards_item {
        flex: 1 1 100%; /* Make each card take full width on mobile */
        margin-bottom: 1rem; /* Optional: Add some margin between cards */
    }

    /* Ensure the cards container does not overflow */
    .cards {
        flex-direction: column; /* Stack cards vertically */
    }


}.cards {
     display: flex;
     flex-wrap: wrap;
     list-style: none;
     margin: 0;
     padding: 0;
 }

 .cards_item {
     display: flex;
     padding: 1rem;
     flex: 1 1 calc(50% - 2rem); /* Adjust to have 2 cards per row on larger screens */
     box-sizing: border-box;
 }

 @media (min-width: 768px) {
     .cards_item {
         width: calc(100% - 2rem); /* Ensure two cards per row for iPad Mini */
     }
 }

 @media (min-width: 992px) {
     .cards_item {
         width: calc(33.3333% - 2rem); /* Adjust to have 3 cards per row on even larger screens */
     }
 }

 @media (max-width: 767px) {
     .cards_item {
         flex: 1 1 100%; /* Make each card take full width on smaller screens */
     }
 }

 @media (max-width: 933px) {
     header {
     background-image: linear-gradient(130deg, white 67%, var(--main-color) -50%);
     display: flex;
     justify-content: space-evenly;    }

     .card_text {
         font-size: 18px;
     }

     html {
         font-size: 50%;
     }

     #navbar {
         display: initial;
     }

     #menu-bars {
         display: initial;
     }

     .navbar {
         position: absolute;
         top: -100%;
         right: 0;
         left: 0;
     }

     .navbar a {
         display: block;
         font-size: 1.5rem;
         margin: 1rem;
         padding: 1rem;
     }

     .header {
         padding: 2rem;
     }

     .background-text h2 {
         width: 100%;
         text-align: center;
     }

     nav {
         position: absolute;
         top: 100%;
         background: var(--main-color);
         width: 100%;
         left: 0;
         clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);

     }

     nav.active {
         clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);

     }

     nav a {
         display: block;
         margin: 1rem;
         padding: 2rem 2rem;
         border: 3px solid white;
         font-size: 1.5rem;
     }

     .navbar-icons {
         display: flex;
         align-items: center;

     }

     .navbar-icons div {
         margin: 1rem;
     }

     .footer-second-part img {
         width: 15%;
         margin-left: 50px;
     }

     .card_title {
         font-size: 2.1rem;
     }

     .cards_item {
         flex: 1 1 100%; /* Make each card take full width on mobile */
         margin-bottom: 1rem; /* Optional: Add some margin between cards */
     }

     /* Ensure the cards container does not overflow */
     .cards {
         flex-direction: column; /* Stack cards vertically */
     }


 }