*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    /* background-image: linear-gradient(to right, azure, rgb(228, 97, 95));
    background-repeat: no-repeat;*/
}
body{
    height:100vh;
}


/*-----------NavBar----------*/
:root{
    --main-color:#960707;
    --blackcolor:#1B1B1B;
    --shadow:#dee1e8;
  }


  body {
    flex-direction: column;
    min-height: 100vh;
  }

  header{
    padding: 2rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-image: linear-gradient(130deg, white 22%, var(--main-color) -50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1000;

  }


  header .logo {
    display: flex;
    align-items: center;
  }

  header .logo img {
    width: 40px;
  }

  header .logo h1 {
    margin-left: 20px;
    font-family: cursive;
    color: rgb(20, 18, 18);
  }

  nav a{
    font-size: 1.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    color: white;
    font-size: 20px;
  }

  a {
    box-shadow: inset 0 0 0 0;
    color: #960707;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
.menu a{
  font-size:25px;
  }
  .menu a:hover {
    color: var(--blackcolor);
    box-shadow: inset 200px 0 0 0 #e16477;
  }

  #navbar{
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: none;
    margin-right: 50px;
  }


  @media (max-width:811px) {
    /* html{
      font-size: 50%;
    } */
    #navbar{
      display: initial;
    }

    #menu-bars{
      display: initial;
    }

    /* .navbar{
      position: absolute;
      top: -100%;
      right: 0;
      left: 0;
    } */
    /* .navbar a{
      display: block;
      font-size: 1.5rem;
      margin: 1rem;
      padding: 1rem;
    } */
    /* .header{
      padding: 2rem;
    } */
    /* .background-text h2{
      width: 100%;
      text-align: center;
    } */

    nav{
      position: absolute;
      top: 100%;
      background: var(--main-color);
      width: 100%;
      left: 0;
      /* height: 100vh; */
      clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);

    }
    nav.active{
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);

    }
    nav a{
      display: block;
      background-color: var(--graycolortxt);
      margin: 1rem;
      padding: 2rem 2rem;
      border: 3px solid white;
      font-size: 1.5rem;
    }
    .navbar-icons{
      display: flex;
      align-items: center;
      margin-right: 20px;

    }
    .navbar-icons div{
      margin: 1rem;
    }

  }


main{
    margin-top:200px;
    display:flex;
    flex-direction:column;
    justify-content:center;

}
.info{
    width:30%;
    border: solid 1.5px aqua;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    background-color: white;
}
.first{
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.second{
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.third{
    display:flex;
    justify-content:space-around;
    align-items:center;
}
#p-period{
    margin-left:16%;
}
.sum{
    margin-bottom:5%;
}
.installment{
    margin-top:5%;
}
#s-sum{
    margin-left:20%;
}

.buttons{
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap:30px;
}
/*.butoniii{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }*/
  #calcing{
    background: white;
  }

  #calcing a:hover{
    color:black;
  }

.vhod {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid aqua;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: #90EE90;
    color: white;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    height: 10%;
    width:30%;
  }

  .vhod:hover {
    background: #90EE90;
    /* box-shadow: 0 0 30px 5px red; */
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  .vhod:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }

  .vhod::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #90EE90;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  #goHome a:hover{
  transition:none;
  box-shadow:none;
  }
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }

    50% {
      opacity: 1;
    }

    to {
      opacity: 0;
      left: 100%;
    }
  }

  .vhod:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  a{
    text-decoration: none;
    background-image: none;
  }







.slidecontainer {
  width: 80%; /* Width of the outside container */
  margin-left:10%;
  padding-top:15px;
  paddign-bottom:15px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-circle {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: red; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}


/*---------------Footer--------------*/

.main-footer{
  background: #ececec;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20%;
  padding: 1rem;
  width:91.7%;
  margin-top:20%;
}

.main-inner-footer{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


.logo-text{
  font-size: 2.5rem;
}

.footer-second-part{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 20px;
}

.footer-second-part img{
  width: 15%;
  margin-left: 40px;
}


.fa {
  text-align: center;
  text-decoration: none;
  color: rgb(72, 69, 69);
  margin-right: 25px;
  font-size: 24px !important;

}

.sources{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sources a {
  color: rgb(99, 89, 89);
  text-decoration: none;
  margin-right: 20px;
  font-size: 32px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.sources a:hover {
  color: gray;
}



-----------Responsive Part---------------
@media (max-width:811px) {
  header{
      background-image: linear-gradient(130deg, white 40%, var(--main-color) -50%);
  }

  .card_text {
      font-size: 18px;
  }

  html{
    font-size: 50%;
  }
  #navbar{
    display: initial;
  }

  #menu-bars{
    display: initial;
  }

  .navbar{
    position: absolute;
    top: -100%;
    right: 0;
    left: 0;
  }
  .navbar a{
    display: block;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
  }
  .header{
    padding: 2rem;
  }
  .background-text h2{
    width: 100%;
    text-align: center;
  }

  nav{
    position: absolute;
    top: 100%;
    background: var(--main-color);
    width: 88%;
    left: 0;
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);

  }
  nav.active{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);

  }
  nav a{
    display: block;
    margin: 1rem;
    padding: 2rem 2rem;
    border: 3px solid white;
    font-size: 1.5rem;
  }
  .navbar-icons{
    display: flex;
    align-items: center;

  }
  .navbar-icons div{
    margin: 1rem;
  }

  .footer-second-part img{
      width: 15%;
      margin-left: 50px;
  }

  .card_title {
      font-size: 2.1rem;
  }

  .logo h1{
    font-size: 24px;
}

.main3 p{
  font-size: 20px;
}


.krediti{
  font-size: 30px;
}

}